extends layout

block content
  .templateEmail
    h3 이름을 입력하세요
      input.emailserch(type="text", name="name")
      button.btn.btn-default.emailserch.send(type="submit") 전송


  .templatePassword
    h3 email을 입력하세요
      input.passwordserch(type="text", name="name")
      button.btn.btn-default.passwordserch.send(type="submit") 전송
