extends layout

block content
  .container
    a(href='/search/emailsearch')
      button.btn.btn-lg.btn-primary.btn-block Email찾기
    a(href='/search/passwordsearch')
      button.btn.btn-lg.btn-primary.btn-block PassWord찾기
