extends ../layout

block content
    table
        tr
            td
                form(method="POST", action="/admin/users/searchid")
                    h3 ID 검색
                    input(type="text", name="searchid")
                    button(type="submit") 검색
            td
            td
                form(method="POST", action="/admin/users/searchlv")
                    h3 권한검색
                    select(name="searchlv")
                        option(value="1") 관리자
                        option(value="0") 일반유저
                    button(type="submit") 검색

    table
        tr
            td name
            td 권한
            td 권한상승
            td 권한하락
            td 유저삭제

        for i in user
            tr
                td= i.name
                td
                    if i.auth==2
                        | 슈퍼 관리자(lv2)
                    else if i.auth==1
                        | 관리자(lv1)
                    else
                        | 일반유저(lv0)
                td
                    if i.auth==0
                        form(action="/admin/users/levelup"+"/"+i.id ,method="get")
                            button(type="submit") 권한상승
                td
                    if i.auth==1
                        form(action="/admin/users/leveldown"+"/"+i.id ,method="get")
                            button(type="submit") 권한 하락
                td
                    if i.auth<2
                        form(action="/admin/users/del"+"/"+i.id ,method="get")
                            button(type="submit") 탈퇴
