extends ../layout

block content

  link(rel='stylesheet', href='/stylesheets/surveyloding.css')
  link(rel='stylesheet', href='/stylesheets/surveypopup.css')
  .container
    h1 설문 작성
    p#user(name="email", value= email) #{email}

    .title
        input.form-control#subject(placeholder="이 설문은 어떤 설문 인가요??")
    p
    p


    .contentTbody

    .optionList
      button#optionadd +option

    .contentList
        button#contentadd +양식추가

    script#optiontemplate
      ul.option.q1
        li
          input(type="checkbox" placeholder="")
          input.message(type="text" placeholder="option")
          button.close.opdel(aria-label="Close", aria-hidden="true") x
        li
    script#optiontemplate1
      ul.option.q2
        li
          input.form-control.message
          button.close.opdel(aria-label="Close", aria-hidden="true") x
        li
    script#optiontemplate2
      ul.option.q3
        li
          label.checkbox-inline 1
          input.a(type="checkbox", values="1")
          label.checkbox-inline 2
          input.a(type="checkbox", values="2")
          label.checkbox-inline 3
          input.a(type="checkbox", values="3")
          label.checkbox-inline 4
          input.a(type="checkbox", values="4")
          label.checkbox-inline 5
          input.a(type="checkbox", value="5")
          button.close.opdel(aria-label="Close", aria-hidden="true") x
        li

    .save
    button.btn.btn-default.serveySave 저장

    .loading-container.load
      .loading
        #loading-text
          loading
          잠시만 기다려 주세요~
    tip

    .layer
      a.btn_example
        #layer1.pop-layer
          pop-container
            pop-conts
              p.ctxt.mb20
              button.clipBoardCopy 복사
              button.closeCopy 닫기



    script#contenttemplate
      table.active.tem
        tr
          td
            input.form-control.header(placeholder="질문 제목 작성")
          td
            button.close.contentdel(type="button" aria-label="Close" ) 양식 제거x
          td
            button.close.contentiupdate(type="button" aria-label="Close" ) 수정
          td
            select.form-control
              option 객관식
              option 주관식
              option 리커트척도

    script#addContentTip
      p#addContentTip
        해당 버튼을 누르면 양식이 추가.

    script#addOptionTip
      p.addOptionTip
        해당 버튼을 누르면 가장 하위 양식에 옵션 추가
