extends ../layout

block content
  .container
    h1 설문 작성
    p

    table
    tr
      td
        input.form-control(placeholder="제목작성")
      td
        button.close.contentdel(type="button" aria-label="Close" ) 양식 제거x

    .optionTbody.active

    .contentTbody

    .optionList
      button#optionadd +option
      button#optiondell -option

    .contentList
        button#contentadd +양식추가
        button#contentdel +양식삭제

    script#optiontemplate
      table
        tr
          td
            input(type="checkbox" placeholder="")
          td
            input(type="text" placeholder="option")


    .save
    button 저장

    script#contenttemplate
      table.active
        tr
          td
            input.form-control(placeholder="제목작성")
          td
            button.close.contentdel(type="button" aria-label="Close" ) 양식 제거x
